
    <div id="aboutus">
        <div class="container">
            <div class="section_header">
                <h3>About Us</h3>
            </div>
            <div class="row">
                <div class="col-sm-6 intro">
		  <!--
                    <h6>There are many variations of passages Lorem Ipsum available, injected generators on the hidden.</h6>
		    -->
                    <p>
The Maryland Community Band was formed in 1995 as a special outreach project of the University of Maryland Band Program in the School of Music.  Open to all qualified adult wind and percussion players, the band provides an opportunity for musicians, from different musical backgrounds and various skill levels, to further develop their individual technique by performing in an ensemble that is both enjoyable and challenging.
		    </p>
		    <p>
The group draws its membership from university alumni, school music teachers, campus faculty/staff, and adults from the greater Washington/Baltimore community.  The 80-member ensemble includes musicians whose ages range from the early 20’s to the early 80’s.
		    </p>
		    <p>
The Maryland Community Band performs a variety of music ranging from the classical symphonic repertory to military marches and Broadway and film scores.  The band has performed in many different venues throughout the area, for a wide variety of events including:
		    </p>
		    <ul class="regular-list">
		      <li>
			<strong>
			  Montpelier Summer Concert Series
			</strong>, Laurel
		      </li>
		      <li>
			<strong>
			  Asbury Methodist Village
			</strong>, Gaithersburg
		      </li>
		      <li>
			<strong>
			  Maryland Day
			</strong>and
			<strong>History Day</strong>, University Campus
		      </li>
		      <li>
			<strong>
			  National Zoo
			</strong>, Washington, DC
		      </li>
		      <li>
			<strong>
			  Heritage Harbor
			</strong>senior living community, Annapolis
		      </li>
		      <li>
			<strong>
			  Lakefront Summer Festival
			</strong>, Columbia
		      </li>
		    </ul>
		  <p>
		    A more detailed description of our <a href="#/repertoire">repertoire</a> is available, with sound clips.
		  </p>
                </div>
                <div class="col-sm-6">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                              <img src="img/TGa MDCommBand@Columbia 6-19-13 cropped.jpg" />
                            </li>
                            <!-- <li>
                              <img src="img/about_slide1.jpg" />
                            </li>
                            <li>
                              <img src="img/about_slide1.jpg" />
                            </li> -->
                        </ul>
                    </div>
                </div>
		<a href="https://www.acbands.org/"><img src="img/ACB-ProgramCredit-banner.jpg" class="acb-banner" />
		  <!-- downloaded from https://drive.google.com/drive/folders/18LHMRL6n29Ei1NZjJV_4eJbtUX85a0Td -->
		</a>
            </div>
        </div>
    </div>

