 <div id="blog_post">
        <div class="container">
            <!-- <div class="section_header">
                <h3>Blog Post</h3>

                <input type="text" class="search-query form-control" placeholder="Search">
            </div> -->

            <div class="row">
                <div class="col-sm-8">
                    <!-- <img class="post_pic img-responsive" src="img/blog_post.jpg" />

                    <div class="post_content">
                        <h2>Clean Canvas beautiful responsive theme.</h2>
                        <span class="date">Wed, 12 Dec.</span>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, injected generators on the  embarrassing hidden in the middle all the dictionary of  randomised words which don’t look even slightly distracted by these distribution of letters, as opposed to using ‘Content here, content here making it look like readable English. Many desktop publishing packages and web page editors.
                        </p>
                        
                        <div class="author_box">
                            <div class="author">Alejandra Galvan</div>
                            <div class="area">Creative Director</div>
                        </div>
                    </div> -->

                    <div class="post_content">
                        <h2>Heritage Harbor Concert</h2>
                        <span class="date">Posted: May 12, 2015</span>
                        <p>
                          Our final concert of the season will be at the
                          Heritage Harbor Community in Annapolis on Sunday, May
                          17 at 3:00 PM.  You won't want to miss this farewell
                          concert for director John Wakefield, who has been the
                          impetus for this group, and our director since we
                          started in 1995.
                        </p>
                    </div>
                    <div class="post_content">
                        <h2>April Concert in Bowie</h2>
                        <span class="date">Posted: Mar. 31, 2015</span>
			<p>
			  We've got an exciting new event this year: the Bowie Center for the Performing Arts is sponsoring the Maryland Community Band for a concert in April. Come out to hear us on Sunday, <strong>April 19</strong> at 3:00pm for our All-American Salute!  This will be a concert of American favorites featuring two outstanding soloists, saxophonist Chris Vadala and soprano Millicent Scarlett.
			</p>
			<table class="concert-program">
			  <tbody>
			    <tr>
			      <td>NATIONAL EMBLEM MARCH</td>
			      <td>E.E. Bagley</td>
			    </tr>
			    <tr>
			      <td>A COPLAND PORTRAIT</td>
			      <td>arr.Clare Grundman</td>
			    </tr>
			    <tr>
			      <td>PERSUASION</td>
			      <td>Sammy Nestico</td>
			    </tr>
			    <tr>
			      <td>OBLIVION</td>
                              <td>Astor Piazzolla</td>
			    </tr>
			    <tr>
			      <td>76 TROMBONES from The Music Man</td>
                              <td>Meridith Willson</td>
			    </tr>
			    <tr>
                              <td>COMMANDO MARCH</td>
                              <td>Samuel Barber</td>
			    </tr>
			    <tr>
			      <td>“GERSHWIN”</td>
                              <td>arr. Warren Barker</td>
			    </tr>
			    <tr>
			      <td>SUMMERTIME from Porgy and Bess</td>
			      <td>arr. Donald Hunsberger</td>
			    </tr>
			    <tr>
			      <td>THEY CAN’T TAKETHAT AWAY FROM ME</td>
			      <td>arr. Warren Barker</td>
			    </tr>
			    <tr>
			      <td>BUT NOT FOR ME</td>
                              <td>arr. Warren Barker</td>
			    </tr>
			    <tr>
			      <td>AMERICA THE BEAUTIFUL</td>
			      <td>arr. Carmen Dragon</td>
			    </tr>
			    <tr>
			      <td>THE STARS AND STRIPES FOREVER MARCH</td>
			      <td>John Philip Sousa</td>
			    </tr>
			  </tbody>
			</table>

		    </div>
		    <!--
                    <div class="post_content">
                        <h2>MCB Website Launch</h2>
                        <span class="date">Sep. 2, 2014</span>

                        <p>
                          We have had a <a href="https://www.facebook.com/MDCOMMUNITYBAND">Facebook page</a> for a little while, and a <a href="https://twitter.com/MDCBand1995">Twitter account</a>, but now with this standalone website, we will be able to keep both the band members and the community up to date with the latest news from the band, as well as to provide reference materials, schedules, and some recordings of our performances (coming soon!).
                        </p>
                        <p>
                            We're just getting started, so expect a few bumps along the way.  But keep your eyes open for new features on this website in the coming weeks and months.
                        </p>
                    </div>
		    -->
                    <!-- <div class="post_content">
                        <h2>The NextNOW Festival</h2>
                        <span class="date">August 18, 2014</span>

                        <p>
                            The Clarice Smith Performing Arts Center ("The Clarice") has started a new program, "NextNOW", to kick off the new academic year, and the Maryland Community Band is proud to be a key part of this program.  We will be performing a full-length concert at the Dekelboum Concert Hall on Thursday, September 11, titled "An All-American Salute: a program honoring our great country and the exceptional heroism and service remembered on this day".  Come and enjoy this free concert presented by the Maryland Community Band!
                        </p>
                        <p>
                            For more information on The Clarice, visit <a href="http://theclarice.umd.edu">http://theclarice.umd.edu</a>
                        </p>
                    </div> -->

                    <!-- <div class="comments">
                        <h4>Comments</h4>

                        <div class="comment">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img src="img/user-display.png" class="img-circle author_pic" />
                                </div>
                                <div class="col-sm-10">
                                    <div class="name">
                                        Alejandra Galvan
                                        <a href="#" class="reply">Reply</a>
                                    </div>
                                    <div class="date">
                                        Oct 12, 2012
                                    </div>
                                    <div class="response">
                                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment reply_to">
                            <div class="row">
                                <div class="col-sm-2 col-md-offset-2">
                                    <img src="img/user-display.png" class="img-circle author_pic" />
                                </div>
                                <div class="col-sm-8">
                                    <div class="name">
                                        Alejandra Galvan
                                        <a href="#" class="reply">Reply</a>
                                    </div>
                                    <div class="date">
                                        Oct 12, 2012
                                    </div>
                                    <div class="response">
                                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <!-- <div class="new_comment">
                        <h4>Add Comment</h4>
                        <form>
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Name" name="name" class="form-control"/>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Email" name="email" class="form-control"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <textarea placeholder="Comments" rows="7" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="#" class="btn send">Add comment</a>
                                </div>
                            </div>
                        </form>
                    </div> -->
                </div>
                
                <!-- SideBar -->
                <div class="col-sm-4">
                    <div class="sidebar">
                        <div class="box">
                            <div class="sidebar_header">
                                <h4>Recent Posts</h4>
                            </div>

                            <ul class="sidebar_menu">
                                <ul>
                                    <li><a href="/index.html#/blog">MCB Website Launch</a></li>
                                    <li><a href="/index.html#/blog2">The NextNOW Festival</a></li>
                                </ul>
                            </ul>
                        </div>
                        
                        <!-- <div class="box box2">
                            <div class="sidebar_header">
                                <h4>Recent Posts</h4>
                            </div>

                            <div class="recent">
                                <span>
                                    <img src="img/recent_photos.jpg" alt="">
                                </span>
                                <p>There are many  embarrassing hidden in the middle of text.</p>
                            </div>
                            <div class="recent">
                                <span>
                                    <img src="img/recent_photos.jpg" alt="">
                                </span>
                                <p>There are many  embarrassing hidden in the middle of text.</p>
                            </div>
                        </div> -->

                        <!-- <div class="box">
                            <div class="sidebar_header">
                                <h4>Popular photos</h4>
                            </div>
                            <ul class="recent_photos">
                                <li>
                                    <a href="#"><img src="img/recent_photos.jpg"></a></li>
                                <li>
                                    <a href="#"><img src="img/recent_photos.jpg"></a></li>
                                <li>
                                    <a href="#"><img src="img/recent_photos.jpg"></a></li>
                                <li>
                                    <a href="#"><img src="img/recent_photos.jpg"></a></li>
                                <li>
                                    <a href="#"><img src="img/recent_photos.jpg"></a></li>
                                <li>
                                    <a href="#"><img src="img/recent_photos.jpg"></a></li>
                                <li>
                                    <a href="#"><img src="img/recent_photos.jpg"></a></li>
                                <li>
                                    <a href="#"><img src="img/recent_photos.jpg"></a></li>
                                <li>
                                    <a href="#"><img src="img/recent_photos.jpg"></a></li>
                            </ul>
                        </div> -->

                        <div class="box last">
                            <div class="sidebar_header">
                                <h4>Archives</h4>
                            </div>

                            <ul class="sidebar_menu">
                                <ul>
                                    <!-- <li><a href="#">January 2012</a></li>
                                    <li><a href="#">May 2012</a></li>
                                    <li><a href="#">August 2011</a></li>
                                    <li><a href="#">October 2011</a></li> -->
                                    <li><a href="#">September 2014</a></li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
