<div id="docs" ng-controller="docListCtrl as doclist">
  <div class="container">
    <div class="section_header">
      <h3>Reference Files</h3>
      <p>
	Here are files of general interest, primarily for band members.
      </p>
    </div>
    <div class="file-list-lg">
      <div class="row">
	<file-item ng-repeat="item in doclist.doclist1">
	</file-item>
      </div>
      <div class="row">
      </div>
    </div>
  </div>
  <script type="text/ng-template" id="fileItemTpl">
    <div class="col-sm-3">
      <div class="file-icon"> 
	<img src="{{ doclist.icons[item.fileType] }}">
      </div>
      <h6><a href="{{item.url}}">{{item.name}}</a></h6>
      {{item.description}}
    </div>
  </script>
</div>
