<div id="docs">
  <div class="container">
    <div class="section_header">
      <h3>Reference Files</h3>
      <p>
	Here are files of general interest, primarily for band members.
      </p>
    </div>
    <div class="file-list-lg">
      <div class="row">
	<div class="col-sm-3">
	  <div class="file-icon">
	    <img src="img/file-icons/docx/docx_win-64_32.png">
	  </div>
	  <h6><a href="https://www.dropbox.com/s/2cpdryl61w82fz0/BandBrochure.docx?dl=1">Rules and Procedures</a></h6>
	  This file is a must-read for all members.  Members must read it and commit the contents to heart, or be prepared to suffer the consequences.
	</div>
	<div class="col-sm-3">
	  <div class="file-icon">
	    <img src="img/file-icons/docx/docx_win-64_32.png">
	  </div>
	  <h6><a href="https://www.dropbox.com/s/2cpdryl61w82fz0/BandBrochure.docx?dl=1">Rules and Procedures</a></h6>
	  This file is a must-read for all members.  Members must read it and commit the contents to heart, or be prepared to suffer the consequences.
	</div>
	<div class="col-sm-3">
	  <div class="file-icon">
	    <img src="img/file-icons/docx/docx_win-64_32.png">
	  </div>
	  <h6><a href="https://www.dropbox.com/s/2cpdryl61w82fz0/BandBrochure.docx?dl=1">Rules and Procedures</a></h6>
	  This file is a must-read for all members.  Members must read it and commit the contents to heart, or be prepared to suffer the consequences.
	</div>
      </div>
      <div class="row">
	<div class="col-sm-3">
	  <div class="file-icon">
	    <img src="img/file-icons/docx/docx_win-64_32.png">
	  </div>
	  <h6><a href="https://www.dropbox.com/s/2cpdryl61w82fz0/BandBrochure.docx?dl=1">Rules and Procedures</a></h6>
	  This file is a must-read for all members.  Members must read it and commit the contents to heart, or be prepared to suffer the consequences.
	</div>
      </div>
    </div>
  </div>
</div>
