<div id="docs" ng-controller="EventsCtrl as eventlist">
  <div class="container">
    <div class="section_header">
      <h3>Upcoming Events</h3>
    </div>
    <div class="events-outer">
      <div class="individual-event" ng-repeat="event in eventlist.eventList">
        <h4>{{ event.name }}</h4>
	<p><em>{{ event.due | date : 'MMM dd, yyyy h:mma' : 'EDT' }}</em></p>
	<img ng-src="{{event.largeImage.url}}"/>
	<p></p>
	<p>{{ event.desc }} <span ng-repeat="doc in event.doclist"> <a href="{{doc.url}}"> <img ng-src="{{doc.icon}}" /></a></span></p>
	<hr />
      </div>
    </div>
  </div>
</div>
