<div id="docs" ng-controller="EventsCtrl as eventlist">
  <div class="container">
    <div class="section_header">
      <h3>Upcoming Events</h3>
    </div>
    <div class="events-outer">
      <div class="individual-event" ng-repeat="event in eventlist.eventList | cardDateSort:true">
        <h4>{{ event.name }}</h4>
	<p><em>{{ event.due | date : 'MMM dd, yyyy h:mma' : 'EDT' }}</em></p>
	<img ng-src="{{event.largeImage.url}}"/>
	<p></p>
	<p>{{ event.desc }}</p>
	<p>
	  <span ng-repeat="link in event.linklist"> <a href="{{link.url}}">{{ link.name }}</a></span>
	  <span ng-if="event.linklist.length > 0 && event.doclist.length > 0"> | </span>
	  <span ng-if="event.doclist.length > 0">Attachments:
	    <span ng-repeat="doc in event.doclist">
	      <a href="{{doc.url}}"> <img ng-src="{{doc.icon}}" />
	      </a>
	    </span>
	  </span>
	</p>
	<hr />
      </div>
	  <p>
		<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FNew_York&bgcolor=%23ffffff&src=Y18yOWM0Njc1OTFmMzZhM2FiODlhOTMwNmZhNmU2M2YyYjIyNDU1ZDhlYzhiNTM5MTYwYzAyNDA2NjRjMGRlZjVmQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=Y19iNjBhNmIzNmI5MzNkZTMxMTgxYTI1NjUxNzMwZjE0OTg4YjA2MThlOTdiMWY3NzViMzliZWZlODMzNTZkMTllQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%238E24AA&color=%23039BE5" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
	  </p>
	  <p>
	    <a href="https://calendar.google.com/calendar/ical/c_29c467591f36a3ab89a9306fa6e63f2b22455d8ec8b539160c0240664c0def5f%40group.calendar.google.com/public/basic.ics">Concert Calendar in ICS format.</a>
	  </p>
	  <p>
	    <a href="https://calendar.google.com/calendar/ical/c_b60a6b36b933de31181a25651730f14988b0618e97b1f775b39befe83356d19e%40group.calendar.google.com/public/basic.ics">Rehearsal Calendar in ICS format.</a>
	  </p>
    </div>
  </div>
</div>
