<div>
  <div class="container">
    <div class="section_header">
      <h3>Press Kit</h3>
      <p>
	References to online and local media about Maryland Community Band
      </p>
    </div>
    (Download the <a href="https://www.dropbox.com/s/l983e879ylg6uq5/MCB%20Press%20Packet.zip?dl=1">Press Packet</a>, 6.0 MB)

  <h2>Background Information</h2>
  <p><a href="https://www.dropbox.com/s/89yuhpuwbulagik/mcb_flyer_v3.pdf?dl=0">About the Maryland Community Band</a></p>
  <p><a href="http://www.marylandcommunityband.org/index.html#/blog">Recent Concerts</a></p>

  <h2>Photos</h2>
  <ul>
    <li><a href="img/photos/group-photo-fall-2015.jpg">Maryland Community Band</a></li>
    <li><a href="img/photos/MCB_NextNOWFest2014.jpg">NextNOW Festival, the Clarice Center Dekelboum Hall, Sept. 2014</a></li>
    <li><a href="img/photos/MCB_MarylandDay2013.jpg?dl=0">Maryland Day, the Clarice Center Band Room Courtyard, April 2014</a></li>
    <li><a href="img/photos/Columbia_OverviewBack_June2013%28Terry%29.jpg?dl=1">Columbia Lakefront Amphitheatre, June 2013 (1)</a></li>
    <li><a href="img/photos/Columbia_OverviewFront_June2013%28Terry%29.jpg?dl=1">Columbia Lakefront Amphitheatre, June 2013 (2)</a></li>
  </ul>

  <h2>Sound Clips</h2>
  See <a href="/#/repertoire">Repertoire Page</a>
  <h2>Videos</h2>
  <h3>Columbia Lakefront Amphitheatre, June 2013</h3>
  <ul>
    <li><a href="https://www.youtube.com/watch?v=KjQQKL4n5As">They Can’t Take That Away from Me</a> (Millicent Scarlett, soprano)</li>
    <li><a href="https://www.youtube.com/watch?v=89apQa0lEsE">Vilia</a> (Millicent Scarlett, soprano)</li>
    <li><a href="https://www.youtube.com/watch?v=FzkVk620DVU">Carousel</a></li>
  </ul>
  <h3>Rehoboth Beach</h3>
  <ul>
    <li><a href="https://www.youtube.com/watch?v=kZSZPImPTI8">The Washington Post March, June 2010 </a></li>
    <li><a href="https://www.youtube.com/watch?v=7BdBJvRykh0">Stars & Stripes, June 2009</a></li>
  </ul>
  <h3>Bowie Performing Arts Center, April 2015</h3>
  <ul>
    <li><a href="https://www.youtube.com/watch?v=-KBAVc3NdmM">They Can’t Take that Away from Me</a></li>
    <li><a href="https://www.youtube.com/watch?v=8L3HGPlbz-E">Persuasion</a> (Chris Vadala, saxophone)</li>
    <li><a href="https://www.youtube.com/watch?v=syPWwNIvkek">Night and Day</a> (Chris Vadala, saxophone)</li>
  </ul>

  <h2>In the News</h2>
  <ul>
    <li><a href="http://theclarice.umd.edu/events/2015/maryland-community-band-a-salute-to-american-composers">MCB to play at 2nd annual NextNOW Festival at the Clarice Center</a></li>
    <li><a href="http://www.capitalgazette.com/bowie_bladenews/community/ph-ac-bb-lively-arts-0416-20150415-story.html">Lively Arts: Maryland Community Band performs American classics Sunday {Capital Gazette, April 16, 2015}</a></li>
  </ul>
  <h2>Recordings</h2>
  In Concert at Bethany Beach (2009, 2010, 2011) - <a href="http://www.sonorityrecords.com/Bethany_Beach_Bandstand_Concert_CDs.htm">Purchase</a>

  <h2>Contact</h2>
	Friends of Maryland Community Band<br>
	P.O. Box 58<br>
	College Park, MD  20741<br>
	http://www.marylandcommunityband.org/#/contact
</div>
  </div>
